#pet {
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    /* flex: wrap; */
}

h1 {
    font-size: 50px;
    font-family: 'Lumanosimo', cursive;
}
.card {
    width: 350px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: 1.5s;
}
/* .card:hover {
    border: 3px solid rgb(247, 127, 7);
    box-shadow: 5px 5px 50px #f90505;
} */

.dog {
    border: 3px solid blue;
    color : rgb(60, 60, 245);
}
.dog:hover {
    border : 3px solid blue;
    box-shadow: 7px 7px 50px rgb(60, 60, 245);
}
.cat {
    border: 3px solid red;
    color: rgb(247, 12, 12);
}
.cat:hover {
    border : 3px solid red;
    box-shadow: 7px 7px 50px rgb(247, 12, 12);
}

h3 {
    transition: 2s;
}
h3:hover {
    font-size: 30px;
    font-weight: bold;
}
.card h3 {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

img {
    width: 100%;
    border-radius: 20px;
}
span {
    color: red;
}
a {
    font-size: 30px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}
p {
    color : black;
}

#bottomh2{
    text-align:center;
    color : rgb(191, 25, 242);
    background-color: white;
    border: 10px solid rgb(191, 25, 242);
    border-radius: 5px;
    font-size: 40px;
    font-family: 'Lumanosimo', cursive;
}

@media(max-width : 375px) {
    .container {
        flex-wrap: wrap;
    }
}
@media(max-width : 414px) {
    .container {
        flex-wrap: wrap;
    }
}